body > div > header {
    height: 100px;
}

body > div > header > img {
    height: 100px;
    float: left;
}

body > div > header > div {
    margin-top: 30px;
}

header.page-header {
    margin-top: 0;
}

body > div > footer {
    text-align: center;
    font-size: 11px;
}