body {
    width: 100%;
}

body > div > header {
    height: 100px;

}

body > div > header > img {
    height: 100px;
    width: 100px;
    float: left;
}

body > div > header > div {
    margin-top: 30px;

}

header.page-header {
    margin-top: 0;
}

body > div> footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 11px;
}

body > div > footer > p {
    width: 100%;
    text-align: center;
}

main > .carousel-inner{
  width:100%;
  max-height: 200px !important;
}

