.carousel {
	max-height: 31vw;
	
}


.unselected img{
	opacity:0.5;
}
span{
	
}
#thumbails img{
	width:100%
}
#thumbails{
	padding-top: 1%
}
.item img{
	width:100%
}
.item iframe {
	width:100%;
	height:31vw;
	max-height:31vw;
  	background-color: black;

}
