h3{
    text-align: center;
}

h2{
    color:#43bad5;
    text-align: center;
}

#col1{
  margin-top:20%;
}

#col3{
  margin-top:18%;
}

.button {
    border: none;
    color: white;
    padding: 6px 10px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.BrochureButton {
    background-color: white;
    color: #43bad5;
    border: 2px solid #43bad5;
}

.BrochureButton:hover {
    background-color: #43bad5;
    color: white;
}

.WhitePaperButton {
    width: 90px;
    background-color: white;
    color: #008CBA;
    border: 2px solid #008CBA;
}

.WhitePaperButton:hover {
    background-color: #008CBA;
    color: white;
}

div.iOT{
    height:30%;
}

div.allprice{
  /*margin: auto;*/
   margin-left: 25%;
   margin-right: 25%;
  display:inline-block;
}

.price{
   margin-top:5%;
   display:inline-block;
   width:200px;
   height:200px;
   border: 2px solid #008CBA;
   border-radius: 15px;

}

#downloadBrochure, #downloadWhitePaper{
  position:absolute;
  left:360px;
  top:110px;
  width:450px;
  height:auto;
  border:solid #7A7A7A 4px;
  background-color: white;
}

div.title{
   background-color: #43bad5;
   height:25px;
   width:80%;
   margin-top:3%;
   margin-left:10%;
   text-align: center;
   vertical-align: middle;
   color:white;
   border: 2px solid #008CBA;
   display: inline-block;
   margin-bottom:3%;
}

div.inputcontainer{
  text-align: center;
  vertical-align: middle;
  margin-top:2%;
}


#icon1{
  height: 100%;
  width: 100%;
  margin-bottom: 20%;
  display: block;
}

.price p {
  color:#008CBA;
  font-size:1em;
  text-align: center;
  vertical-align: middle;
  margin-top:10%;
  padding:5%;
}